@media only screen and (max-width: 900px) {
    header {
        text-align: center;
    }

    .main-content {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 900px) {
    .links li {
        display: inline-block;
    }

    .main-content {
        display: flex;
    }

    aside {
        margin-left: 10px;
    }

    #container {
        padding: 50px 20%;
    }
}

body {
    color:#0C2340;
}

ul {
    list-style-type: none;
    padding: 0;
}

a:link, a:visited {
   text-decoration: none;
   color:#0C2340;
}

.experience-info, .tag-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
}

.tag-list li {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color:#BEBEBE;
    color: var(--black);
    font-weight: bold;
}


